.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

div.statistics-side-bar {
    flex: 1 1 20vw;
}

div.canvas {
    flex: 5 1 80vw;
}

div.target-bar {
    flex: 1 100%;
    height: 100%;
}



